# Core
fastapi
uvicorn
pydantic
 
python-multipart

# ML Models
catboost       #  Safe, has prebuilt wheel  no Rust
xgboost
torch
scikit-learn

# Data
pandas

numpy
joblib

# Streamlit 
streamlit
matplotlib
seaborn

# PDF Export
fpdf

# Imbalanced Data
imbalanced-learn
